<header>
  <h1 class="title">Angular Form Error Demo</h1>
</header>

<main>
  <button type="button" (click)="toggleRequiredMsg()">Set custom required message</button>

  <h2>In Reactive Form</h2>
  <form id="reactive-form" [formGroup]="exampleForm" novalidate (ngSubmit)="formSubmit()">
    <div class="form-input">
      <label for="required-input" class="required">Required input</label>
      <input formControlName="req" type="text" id="required-input">
      <ngx-form-error [control]="exampleForm.get('req')" id="required-input-error"></ngx-form-error>
    </div>

    <div class="form-input">
      <label for="min-len-input">Min length 4 input</label>
      <input formControlName="minLen" type="text" id="min-len-input">
      <ngx-form-error [control]="exampleForm.get('minLen')"></ngx-form-error>
      <!-- <span class="error-text">This field requires at least 2 characters.</span> -->
    </div>

    <div class="form-input">
      <label for="min-len-num-input">Min length 4 and number input</label>
      <input formControlName="minLenNum" type="number" min="4" id="min-len-num-input">
      <ngx-form-error [control]="exampleForm.get('minLenNum')"></ngx-form-error>
      <!-- <span class="error-text">This field requires at least 4 characters.</span> -->
    </div>

    <div class="form-input">
      <label for="template-input">Custom Template</label>
      <input formControlName="template" type="text" id="template-input">
      <ngx-form-error [control]="exampleForm.get('template')" [template]="special"></ngx-form-error>
    </div>

    <ng-template #special let-errors="errors">
      <div *ngFor="let error of errors; let idx = index">
        <ng-container *ngIf="idx === 0 else and">You have an error:</ng-container>
        <ng-template #and>aaand:</ng-template>
        {{error.message}}
      </div>
    </ng-template>

    <button type="submit">Submit</button>
  </form>

  <h2>In Model Driven Form</h2>
  <form id="template-form" novalidate (ngSubmit)="formSubmit()">
    <div class="form-input">
      <label for="model-required-input" class="required">Required input</label>
      <input type="text" id="model-required-input" name="model-required"
             [(ngModel)]="model.reqiredField" #reqiredModel="ngModel"
             required>
      <ngx-form-error [control]="reqiredModel.control" id="model-required-input-error"></ngx-form-error>
    </div>

    <button type="submit">Submit</button>
  </form>
</main>

<ng-template #defFrmErrorTpl let-errors="errors">
  <div *ngFor="let error of errors" class="error-message">
    awww: {{error.message}}
  </div>
</ng-template>

<footer>
  <a href="https://github.com/mmmichl/ngx-form-error" target="_BLANK">
    Github
  </a>
</footer>
